<table class="table" style="width: 600px;">
    <thead>
      <tr>
        <th scope="col">Books</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Angular for Beginners : The Absolute Essential</td>
      </tr>
      <tr>
        <td>Beginning Node.js</td>
      </tr>
      <tr>
        <td>Head First Android Development: A Brain-Friendly Guide</td>
      </tr>
      <tr>
        <td>Designing Data-Intensive Applications</td>
      </tr>
      <tr>
        <td>Artificial Intelligence: A Modern Approach</td>
      </tr>
    </tbody>
  </table>