<h1>Welcome to Technologies and Books details page</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/technologies" routerLinkActive="active">Technologies</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>