

<div class="container text-center align-items-center justify-content-center d-flex flex-column mb-12" style="height: 100vh;">
  <div class="row justify-content-md-center">
    <h1>
      Welcome to Number System Conversion Application
    </h1>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-4 radio-lg">
      <label class="custom-radio-label">
        From - 
      </label>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="fromBinary" id="fromBinary">
        <label class="form-check-label custom-radio-label" for="fromBinary">
          Binary
        </label>
      </div>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="fromOctal" id="fromOctal">
        <label class="form-check-label custom-radio-label" for="fromOctal">
          Octal
        </label>
      </div>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="fromDecimal" id="fromDecimal">
        <label class="form-check-label custom-radio-label" for="fromDecimal">
          Decimal
        </label>
      </div>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="fromHexadecimal" id="fromHexadecimal">
        <label class="form-check-label custom-radio-label" for="fromHexadecimal">
          Hexadecimal
        </label>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-4 radio-lg">
      <label class="custom-radio-label">
        To - 
      </label>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="toBinary" id="toBinary">
        <label class="form-check-label custom-radio-label" for="toBinary">
          Binary
        </label>
      </div>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="toOctal" id="toOctal">
        <label class="form-check-label custom-radio-label" for="toOctal">
          Octal
        </label>
      </div>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="toDecimal" id="toDecimal">
        <label class="form-check-label custom-radio-label" for="toDecimal">
          Decimal
        </label>
      </div>
    </div>
    <div class="col col-lg-4 radio-lg">
      <div class="form-check form-check-inline">
        <input class="form-check-input custom-radio-input" type="radio" name="toHexadecimal" id="toHexadecimal">
        <label class="form-check-label custom-radio-label" for="toHexadecimal">
          Hexadecimal
        </label>
      </div>
    </div>
  </div>
</div>